body {
  font-family: monospace;
}

button {
  margin-bottom: 100px margin: 0 auto;
}

/* Centres a column */
.col-center {
  float: none;
  margin: 0 auto;
}

.centered {
  float: none;
  /* or absolute */
  top: 50%;
  left: 50%;
  align-items: center;
}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
}

.flex-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.clue {
  border-style: solid;
  border-radius: 25px;
  background: #C0C0C0;
}

ul {
  height: 90px;
}

ul {
  overflow: hidden;
  overflow-y: scroll;
}

main>.container {
  padding: 60px 15px 0;
}
