

button {
  margin-bottom: 100px; 
  margin: 0 auto;
}

/* Centres a column */
.col-center {
  float: none;
  margin: 0 auto;
}

.centered {
  float: none;
  /* or absolute */
  right: 50%;
  left: 50%;
  align-items: center;
}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
}

.flex-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.clue {
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: green;
  background: lightgreen;
  padding-top: 10px;
  box-shadow: 0px 3px 5px 1px rgba(0,255,0,0.2);
  color: darkgreen;
}

.waypoint{
  padding-top: 10px;
  width: 100%;
}

.waypoint-text{
  float: left;
  color: darkgreen;
  font-size: medium;
}

.clue-text{
  width:100%;
  display: inline-block;
  margin-top: 28px;
}

.clue-text-prompt{
  position: absolute;
  left: 32px;
  margin-bottom: 20px;
  font-size: medium;
}

#waypointNumber{
  margin-left: 10px;
}

ul {
  height: 90px;
}

ul {
  overflow: hidden;
  overflow-y: scroll;
}

main>.container {
  padding: 0px 15px 0;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button-column {
  width: 100%;
  align-content: center;
  align-self: center;
  z-index: 2;

  text-align: center;
}

.section video {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
}

.title {
  font-family: "Montserrat";
  font-weight: 900;
  color: white;
  font-size: 6vw;
}

.loginButton {
  display: inline-block;
  width: 250px;
  height: 50px;
  background-color: #fff;
  color: rgb(4, 204, 4);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 700;
  font-family: "Montserrat";
  border-style: none;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 8px rgba(50, 184, 59, 0.5);
}

.tableFixHead {
  overflow-y: auto;
  height: 200px;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 0px;
  padding: 100px 50px 75px 100px;

}

th, td {
  padding: 25px 50px 75px 100px;
}

th {
  background: #eee;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

h1{
  color: white;

  margin: 30px 0px;
  border: none;
}

p{
  color: white;
  float:left;
  margin: 30px 0px;
  border: none;
}

.F{
  float:left;
}

label{
  color: white;
  padding: 14px 20px;
  margin: 0px 0px;
  border: none;
}

.emoji-row{
  width: 100%;
  height: 100px;
  display: inline-block;
  text-align: center;
}

.emoji-button{
  border-radius: 5px;
  border-color: lightgreen;
  background-color: white;
  color: lightgreen;
  width: 50px;
  height: 50px;
  border-style: solid;
}

.help-faq-buttons{
  border-radius: 5px;
  border-color: lightcoral;
  background-color: white;
  color: lightcoral;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  border-style: solid;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.login {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.open-camera-button{
  font-family: "Montserrat";
  background-color: rgb(4, 204, 4);
  color: white;
  border-radius: 5px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-left: 10px;
  margin-right: 10px;
  border-style: none;
  width: 90%;
}

.game{
  background-color: white;
  height: 100%;
}
